html {
    background-image: url(//static.img.com/img/static.png);
}

body {
    background-image: url(/img/static.png);
}

body {
    background-image: url("/img/static.png");
}

body {
    background-image: url('/img/static.png');
}